@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Outfit", sans-serif; 
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", sans-serif;
}

.background-auth {
  background-image: url("/grafico.svg");
  @apply bg-no-repeat bg-bottom-left;
  background-size: 30rem;
}
